<article>
{{#each data}}
    <div class="article">
    <img src="{{images.1.url}}" alt="" height="{{images.1.height}}" width="{{images.1.width}}">
    <p class="text-danger-emphasis bg-dark fw-bold" >{{name}}</p>
    <a href="albums/{{id}}" class="btn btn-warning">View all albums</a>

    </div>
{{/each}}
</article>
